body {
	background: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-left p:first-child {
	margin-top: 0px;
}
input {
	border: 10px;
	border-bottom: grey;
	text-decoration: underline;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: lightgray;
	padding: 5px;
}
